@charset "UTF-8";
* {
  box-sizing: border-box;
}

head {
 color: #777;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
}

.top-wrapper {
  padding: 156px 0 198px 0;
  background-image: url(https://raw.githubusercontent.com/AhsaniHalwanRajib/ahsanirajib/main/Top.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;

}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: white;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: center;
  margin-right: -25px;
}

.header-right a {
  line-height: 66px;
  font-weight: bold;
  padding: 0 25px;
  background: -webkit-linear-gradient(1deg, #EE51FF, #51E2FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  display: block;
  float: right;
  transition: all 0.5s;

}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.tbl-download_2 old { 
  font-weight: BOLD;
  background: linear-gradient(135deg, #EE51FF, #51E2FF);
  border-radius: 50px;
  color: white;
  padding: 15px 40px;
  border-radius: 99px;
  display: inline-block;
  margin-top: 30px;
  transition: .7s ease;
}

.tbl-download_2 old :hover {
  cursor: pointer;
  background: linear-gradient(135deg, #F7A9FF, #A1EFFF);
  color: #FFFFFF;
  transition: .5s ease;
}

.tbl-download_2 {
  border-radius: 4px;
  background-color: #4CAF50;
  border-radius: 50px;
  color: white;
  padding: 15px 40px;
  width: 200px;
  transition: all 0.5s;
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(135deg, #F7A9FF, #A1EFFF);
}

.tbl-download_2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.tbl-download_2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.tbl-download_2:hover span {
  padding-right: 25px;
}

.tbl-download_2:hover span:after {
  opacity: 1;
  right: 0;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  font-size: 25;
}

.heading h2 {
  font-weight: bold;
  background: -webkit-linear-gradient(1deg, #EE51FF, #51E2FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

.heading p {
  font-weight: bold;
  background: -webkit-linear-gradient(1deg, #EE51FF, #51E2FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  margin-bottom: 121pt;
}

.lesson {
  float: left;
  width: 25%;
  font-weight: bold;
  background: -webkit-linear-gradient(1deg, #EE51FF, #51E2FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.lesson_2 {
  font-weight: bold;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3AEB5;
}

.heading h3 {
  font-weight: normal;
}



.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.heading_2 {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading_2 h2 {
  font-weight: normal;
}

.message {
  padding: 15px 40px;
  background-color:	#6A5ACD;
}

.message:active {
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 176px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: px;
}

@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  .heading h2 {
    font-size: 20px;
  }
  .lesson {
   width: 50%;
   margin-bottom: 50px;
   }
}
@media all and (max-width: 670px) {
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .top-wrapper h1 {            
    font-size: 24px;            
    line-height: 36px;            
  }            
  .top-wrapper p {            
    font-size: 14px;            
    line-height: 20px;            
  }
  .lesson {
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
